---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";
// possible to override $body-color, $$background-color, $text-color, $link-color and $masthead-link-color
// Lutin colors
// Orange: #f94e07
// Light Green : #60e0b4
// Dark Green : #4db190
// Default was #00adb5
$link-color: #60e0b4;
$secondary-color: #fc5006;
$background-color : #252a34;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; 

/*****************************************************************
*                   PADDINGS & OTHERS                            *
*****************************************************************/

// Justify text, we're no beasts
.page__content {
    p {
        text-align: justify;
    }
    ul, li, ol {
        text-align: justify;
    }
    h1, h2, h3, h4, h5, h6 {
        margin-top: 0em !important;
    }
}

// Reduce footer size it's hudge
.page__footer footer {
    margin-top: 10px;
    padding: 0 1em 0.5em;
    text-align: center;
}

// Increase avatar size and remove border
.author__avatar img {
    max-width: 200px;
    min-width: 100px;
    border-radius: 0%;
    border: 0px solid black;
}

figure {
    img {
        max-width: 650px;
        display: block;
        clear:both;
        margin: 0 auto;
    }
    figcaption {
        width: 100%;
        display: block;
        clear:both;
        text-align:center;
        font-style: italic;
        font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
    }
}
/*****************************************************************
*                       TABLE OF CONTENT                         *
******************************************************************/
.toc__menu {
    li, a {
        text-align: left;
        font-size: 0.9em !important;
    }
    a {
        padding: 0.25rem 0.5rem !important;
    }
    a:visited {
        color:white !important;
    }
    a:visited:hover {
        color:$secondary-color !important;
    }
    a:hover {
        color:$secondary-color !important;
    }
}

/*****************************************************************
*                        COLOR STUFF                             *
******************************************************************/
.navicon:before, .navicon:after, .navicon {
    background-color: $link-color !important;
}
.themed_color {
    color: $link-color;
}
.themed_color:hover {
    color: $secondary-color !important;
}
.search__toggle {
    color: $link-color !important;
}
.greedy-nav .visible-links a:hover {
    color: white !important;
}
.greedy-nav .visible-links a:before {
    background: $secondary-color!important;
}
strong {
    color: $link-color;
}
blockquote {
    border-color: $link-color;
}
.author__urls-wrapper .author__urls {
    span.label:hover {
        color: $secondary-color !important;
        text-decoration: none;
    }
    a:hover {
        text-decoration-color: $secondary-color !important;
        text-decoration: underline;
    }
}
.archive__item {
    text-align: justify;
    a:visited {
        color: $link-color;
    }
    a:hover {
        color:$secondary-color !important;
    }
}

.page__content {
    p {
        a:visited {
            color: $link-color;
        }
        a:hover {
            color:$secondary-color !important;
        }
    }
    ul, li, ol {
        a:visited {
            color: $link-color;
        }
        a:hover {
            color:$secondary-color !important;
        }
    }
}
.toc .active a {
    background-color: $link-color !important;
    color: $background-color !important;
}

.nav__title {
    background-color: $link-color !important;
    color: $background-color !important;
}
/*****************************************************************
*                        RESPONSIVE                              *
******************************************************************/
// big screens
@media (min-width: 1024px) {
    .archive {
        padding-right: 100px !important;
    }
    .toc {
        position: fixed;
        margin-top:-50px;
    }
    .site-title {
        position: fixed;
    }
    .sidebar.sticky {
        position: fixed;
        margin-top: 80px;
    }
    .masthead {
        .fa-linux {
            font-size: 48px;
        }
    }
    p {        
        font-size: 0.8em !important;
    }
    ul, li, ol {
        font-size: 0.9em !important;
    }
    figure {
        figcaption {
            font-size: 0.8em !important;
        }
    }
}
// Mobile
@media (max-width: 1023px) {
    // Font-size
    p {        
        font-size: 1em !important;
    }
    ul, li, ol {
        font-size: 1em !important;
    }
    figure {
        img {
            max-width: 400px;
        }
        figcaption {
            font-size: 1em !important;
        }
    }
    // Reduce ul & ol padding left
    ul, ol {
        padding-inline-start: 5px;
    }
    // Lower linux size
    .masthead {
        .fa-linux {
            font-size: 35px;
        }
    }
    // Contact button
    .author__urls-wrapper { display:none}
    .author__avatar { width: 100vw}
    .author__avatar img { max-width:120px; display:block;margin: 0 auto;}
    .author__content { display:none;}
    //width: 100%; text-align:center;}
}