---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";
// possible to override $body-color, $$background-color, $text-color, $link-color and $masthead-link-color
// Lutin colors
// Orange: #f94e07
// Light Green : #60e0b4
// Dark Green : #4db190
// Default was #00adb5
$link-color: #60e0b4;
$secondary-color: #fc5006;
$background-color : #252a34;
// Justify text (we're no beast)
.fa-linux {
    font-size: 48px;
}
.themed_color {
    color: $link-color;
}
.themed_color:hover {
    color: $secondary-color !important;
}
.search__toggle {
    color: $link-color !important;
}
.greedy-nav .visible-links a:hover {
    color: white !important;
}
.greedy-nav .visible-links a:before {
    background: $secondary-color!important;
}

.page__content {
    p {
        text-align: justify;
        font-size: 0.8em !important;
        a:visited {
            color: $link-color !important;
        }
        a:hover {
            color:$secondary-color !important;
        }
    }
    ul, li, ol {
        text-align: justify;
        font-size: 0.9em !important;
        a:visited {
            color: $link-color !important;
        }
        a:hover {
            color:$secondary-color !important;
        }
    }

    h1, h2, h3, h4, h5, h6 {
        margin-top: 0em !important;
    }
}
.toc__menu {
    li, a {
        text-align: left;
        font-size: 0.9em !important;
    }
    a {
        padding: 0.25rem 0.5rem !important;
    }
    a:hover {
        color:$secondary-color !important;
    }
}

.toc .active a {
    background-color: $link-color !important;
    color: $background-color !important;
}

.nav__title {
    background-color: $link-color !important;
    color: $background-color !important;
}
// Responsive
@media (min-width: 1024px) {
    .toc {
        position: fixed;
        margin-top:-50px;
    }

    .site-title {
        position: fixed;
    }
    .sidebar.sticky {
        position: fixed;
        margin-top: 80px;
    }
}
@media (max-width: 1023px) {
}
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.author__avatar img {
    max-width: 200px;
    min-width: 100px;
    border-radius: 0%;
    border: 0px solid black;
}